# 依存関係
node_modules
.pnp
.pnp.js

# テスト
coverage
*.lcov
.nyc_output

# ビルド
dist
dist-ssr
*.local

# エディター
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 環境変数
.env
.env.*
!.env.example

# ログ
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
